<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="bower_components/angular-growl/angular-growl.css">    
    <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
        <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/story.css">
    <link rel="stylesheet" href="styles/cab.css">
    <link rel="stylesheet" href="styles/buttons.css">
    <link rel="stylesheet" href="styles/modals.css">
    <link rel="stylesheet" href="styles/query.css">
    <!-- endbuild -->
  </head>
  <body ng-app="amanuensisApp" ng-controller="CabCtrl" ng-cloak>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- #                         -->
    <!-- # StatusBar               --> 
    <!-- #                         -->

     <ul id="cab" class="cab-main" ng-cloak>

      <li ng-show="appState < 128" class="trigger cab-action" ng-click="toggleLeft()">
        <i class="fa fa-th fa-2x on-cab"></i>
      </li>

      <li ng-show="appState < 128" class="trigger cab-right cab-action" ng-click="toggleRight()">
        <i class="fa fa-th fa-2x on-cab"></i>
      </li>         

      <li ng-click="goBack()"><a><i class="fa fa-chevron-left fa-fw fa-2x on-cab"></i></a>></li>

      <!-- selecting a story -->

      <li ng-show="editMode" ng-click="doneEditing()"><a><i class="fa fa-check fa-fw fa-2x on-cab"></i></a>></li>

      <li ng-show="selectMode" ng-click="select()"><a><i class="fa fa-check fa-fw fa-2x on-cab"></i></a>></li>
      <li ng-show="selectMode" ng-click="goToStack()"><a><i class="fa fa-clipboard fa-fw fa-lg on-cab"></i>&nbsp;{{stack.storyTitle}}&nbsp;<i class="fa fa-link fa-fw fa-lg on-cab"></i>&nbsp;{{stack.slotName}}</a></li>        
      <li ng-show="selectMode" ng-click="cancel()"><a><i class="fa fa-times fa-fw fa-2x on-cab"></i></a></li>

      <!-- story-editing -->
      <li ng-show="appState < 128" ng-click="createStoryInSlot()"><a><i class="fa fa-file-text-o fa-fw fa-2x on-cab"></i></a></li>
      <li ng-show="appState < 128" ng-click="saveStory()"><a><i class="fa fa-save fa-fw fa-2x on-cab"></i></a></li>
      <li ng-show="appState < 128" ng-click="deleteStory()"><a><i class="fa fa-trash-o fa-fw fa-2x on-cab"></i></a></li>
      <li ng-show="appState < 4" ng-click="createSlot()"><a><i class="fa fa-link fa-fw fa-2x on-cab"></i></a></li>
      <!-- editing stories in a slot -->
      <li ng-show="appState === 4" ng-click="addStory()"><a><i class="fa fa-link fa-fw fa-2x on-cab"></i></a></li>
      
      <li ng-show="appState === 128"><a href="#/story"><i class="fa fa-file-text-o fa-fw fa-2x on-cab"></i></a></li>

      <li class="cab-right"><a><i class="fa fa-user fa-fw fa-lg"></i>&nbsp;{{userContext.name}}</a></li>
      <li class="cab-right">
        <input id="query-input" ng-model="cabQueryString" placeholder="search for..." on-enter="search()"></input>
      </li>
      <li class="cab-right"><a ng-click="search()"><i class="fa fa-search fa-fw fa-2x on-cab"></i></a></li>

      
           
    </ul>


    <!-- #                         -->
    <!-- # View                    --> 
    <!-- #                         -->

    <div class="view-container" ng-view="" ng-cloak></div>


    <!-- #                         -->
    <!-- # Modals                  --> 
    <!-- #                         -->

    <div id="md-overlay" class="md-overlay"></div> <!-- the overlay element -->

    <div class="md-modal md-effect-3" id="login-modal" ng-controller="LoginDialogCtrl">
      <div class="md-content">
        <h3>{{welcome}}&nbsp;<i style="float: right; margin-top: 2px;" class="fa fa-lock action"></i></h3>
        <div>
          <input id="loginInput" class="start-focus" type="text" ng-model="login" on-enter="goToPassword()" placeholder="Your Login"></input>
          <input id="passwordInput" type="password" ng-model="pwd" on-enter="getUserInfo(true)" placeholder="Your Password"></input>
          <i class="fa fa-unlock-alt fa-2x on-button action on-right opacity-hover" ng-click="getUserInfo(true)"></i>
        </div>
      </div>
    </div>


    <!-- #                         -->
    <!-- # Messages                --> 
    <!-- #                         -->

    <div growl></div>


    <!-- #                         -->
    <!-- # Error-Message           --> 
    <!-- #                         -->

    <div error-dialog></div>


    <!-- #                         -->
    <!-- # JavaScript              --> 
    <!-- #                         -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="bower_components/angular-growl/build/angular-growl.js"></script>
    <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <!-- endbower -->
    <script src="bower_components/marked/lib/marked.js"></script>    
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/storyService.js"></script>
        <script src="scripts/controllers/story.js"></script>
        <script src="scripts/services/slotService.js"></script>
        <script src="scripts/controllers/slot.js"></script>
        <script src="scripts/controllers/cab.js"></script>
        <script src="scripts/controllers/query.js"></script>
        <script src="scripts/services/queryService.js"></script>
        <script src="scripts/services/utilService.js"></script>
        <script src="scripts/directives/misc.js"></script>
        <script src="scripts/directives/errorDialog.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->
</body>
</html>
