<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Colibri</title>
    <meta name="description" content="Colibri V0.9.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">    
    <meta name="apple-mobile-web-app-title" content="Colibri">
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1">

    <link rel="apple-touch-icon" href="/app/images/icon_120.png" sizes="192x192">
    <!--Android-->
    <link rel="shortcut icon" href="/app/images/icon_196.png" sizes="196x196">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-growl/angular-growl.css">    
    <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/ngQuickDate/dist/ng-quick-date.css" />
        <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/story.css">
    <link rel="stylesheet" href="styles/cab.css">
    <link rel="stylesheet" href="styles/buttons.css">
    <link rel="stylesheet" href="styles/modals.css">
    <link rel="stylesheet" href="styles/query.css">
    <link rel="stylesheet" href="styles/tags.css">    
    <link rel="stylesheet" href="styles/typeahead.css">    
    <link rel="stylesheet" href="styles/selectbox.css">    
    <link rel="stylesheet" href="styles/user.css">    
    <link rel="stylesheet" href="styles/quickdate.css">    
    <link rel="stylesheet" href="styles/responsive.css">        
    <!-- endbuild -->
  </head>
  <body ng-app="amanuensisApp" ng-controller="CabCtrl" ng-cloak>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- #                         -->
    <!-- # StatusBar               --> 
    <!-- #                         -->
     <ul id="responsive-cab" hm-swipe-down="toggleMenu()">
      <li class="menu-trigger cab-action" ng-click="toggleMenu()">
        <i class="fa fa-bars fa-2x on-cab"></i>
      </li>   

      <li ng-show="stack" ng-click="goToStack()" class="middle">
        <a class="text" title="story and slot you are going to add a story to">
          <i class="fa fa-clipboard fa-fw fa-lg on-cab"></i>&nbsp;{{stack.storyTitle}}&nbsp;<i class="fa fa-link fa-fw fa-lg on-cab"></i>&nbsp;{{stack.slotName}}
        </a>
      </li>

      <li ng-show="targetMode" class="middle" ng-click="goToTargetStack()">
        <a class="text">
          <i class="fa fa-clipboard fa-fw fa-lg on-cab"></i>&nbsp;
          {{targetStack.source.title}}&nbsp;
          <i class="fa fa-code-fork fa-fw fa-lg on-cab"></i>
        </a>
      </li> 

        <li class="search-trigger cab-action" ng-click="triggerSearch()">
          <i class="fa fa-search fa-2x on-cab"></i>
        </li>
      </li>      
-->

     </ul>

    <ul id="cab" class="cab-main" hm-swipe-up="toggleMenu()">

      <li ng-show="appState < 128" class="trigger cab-action not-in-responsive" ng-click="toggleLeft()">
        <i class="fa fa-th fa-2x on-cab"></i>
      </li>

      <li ng-show="appState < 128" class="trigger cab-right cab-action not-in-responsive" ng-click="toggleRight()">
        <i class="fa fa-th fa-2x on-cab"></i>
      </li>       

      <li ng-click="goBack()" class="not-in-responsive">
        <a title="go back">
          <i class="fa fa-chevron-left fa-fw fa-2x on-cab"></i>
        </a>
      </li>

      <li ng-click="goHome()">
        <a title="return to your workplace">
          <i class="fa fa-home fa-fw fa-2x on-cab"></i><span class="cab-desc">My Workplace</span>
        </a>
      </li>

      <li ng-show="appState < 128 && editMode" ng-click="doneEditing()">
        <a title="return to view mode">
          <i class="fa fa-eye fa-fw fa-2x on-cab"></i><span class="cab-desc">finish editing</span>
        </a>
      </li>

      <li ng-show="appState < 128 && !editMode && storyFlags.canWrite" ng-click="startEditing()">
        <a title="edit story">
          <i class="fa fa-pencil fa-fw fa-2x on-cab"></i><span class="cab-desc">edit this Story</span>
        </a>
      </li>

      <!-- selecting a story for slot-->
      <li ng-show="selectMode" ng-click="select()">
        <a title="add this story to the slot">
          <i class="fa fa-check fa-fw fa-2x on-cab"></i><span class="cab-desc">add this Story to the Slot</span>
        </a>
      </li>
 
      <li ng-show="stack" ng-click="goToStack()" class="not-in-responsive">
        <a class="text" title="story and slot you are going to add a story to">
          <i class="fa fa-clipboard fa-fw fa-lg on-cab"></i>&nbsp;{{stack.storyTitle}}&nbsp;<i class="fa fa-link fa-fw fa-lg on-cab"></i>&nbsp;{{stack.slotName}}
        </a>
      </li>    

      <li ng-show="selectMode" ng-click="cancel()">
        <a title="cancel selecting a story">
          <i class="fa fa-times fa-fw fa-2x on-cab"></i><span class="cab-desc">cancel selecting a Story</span>
        </a>
      </li>

      <!-- selecting a story for graph-search -->
      <li ng-show="targetMode" ng-click="selectTarget()">
        <a title="select story for graph-search">
          <i class="fa fa-check fa-fw fa-2x on-cab"></i><span class="cab-desc">select Story for Graph-Search</span>
        </a>
      </li>

      <li ng-show="targetMode" ng-click="goToTargetStack()" class="not-in-responsive">
        <a class="text">
          <i class="fa fa-clipboard fa-fw fa-lg on-cab"></i>&nbsp;
          {{targetStack.source.title}}&nbsp;
          <i class="fa fa-code-fork fa-fw fa-lg on-cab"></i>
        </a>
      </li>   

      <li ng-show="targetMode" ng-click="cancelTarget()">
        <a title="cancel graph-search">
          <i class="fa fa-times fa-fw fa-2x on-cab"></i><span class="cab-desc">cancel Graph-Search</span>
        </a>
      </li>

      <!-- story-editing -->
      <li ng-show="appState < 128 && !editMode && !selectMode && !targetMode && storyFlags.saved" ng-click="createStoryInSlot()">
        <a title="create a new story and add it to to slot at this one">
          <i class="fa fa-file-text-o fa-fw fa-2x on-cab"></i><span class="cab-desc">create new Story</span>
        </a>
      </li>

      <li ng-show="appState < 128 && !selectMode && !targetMode" ng-click="saveStory()">
        <a title="save this story">
          <i class="fa fa-save fa-fw fa-2x on-cab"></i><span class="cab-desc">save Story</span>
        </a>
      </li>

      <li ng-show="appState < 128 && !editMode && !selectMode && !targetMode && storyFlags.saved" ng-click="deleteStory()">
        <a title="delete this story">
          <i class="fa fa-trash-o fa-fw fa-2x on-cab"></i><span class="cab-desc">delete Story</span>
        </a>
      </li>

      <li ng-show="appState < 4 && !editMode && !selectMode && !targetMode && storyFlags.saved" ng-click="createSlot()">
        <a title="add an existing story to a slot of this one">
          <i class="fa fa-link fa-fw fa-2x on-cab"></i><span class="cab-desc">add Story to a Slot</span>
        </a>
      </li>

      <!-- editing stories in a slot -->
      <li ng-show="appState === 4 && !editMode && !selectMode && !targetMode && storyFlags.saved" ng-click="addStory()">
        <a title="add an existing story to the actual open slot">
          <i class="fa fa-link fa-fw fa-2x on-cab"></i><span class="cab-desc">add Story to open Slot</span>
        </a>
      </li>

      <!-- share a story -->
      <li ng-show="appState < 128 && !editMode && !selectMode && !targetMode" ng-click="shareStory()">
        <a title="share a story with other users">
          <i class="fa fa-random fa-fw fa-2x on-cab"></i><span class="cab-desc">share Story with Others</span>
        </a>
      </li>

      <li ng-show="appState < 128 && !editMode && !selectMode && !targetMode && !storyFlags.stars && storyFlags.saved" ng-click="starStory()">  <a title="star this story">
          <i class="fa fa-star-o fa-fw fa-2x on-cab"></i><span class="cab-desc">star this Story</span>
        </a>
      </li>

      <li ng-show="appState < 128 && !editMode && !selectMode && !targetMode && storyFlags.stars && storyFlags.saved" 
        ng-click="unstarStory()">
        <a title="unstar this story">
          <i class="fa fa-star fa-fw fa-2x on-cab"></i><span class="cab-desc">unstar this Story</span>
        </a>
      </li>

      <li ng-show="appState < 128 && storyFlags.saved" ng-click="reloadStory()">
        <a title="reload this story">
          <i class="fa fa-refresh fa-fw fa-2x on-cab"></i><span class="cab-desc">reload</span>
        </a>
      </li>

      <li ng-show="appState < 128 && editMode && storyFlags.saved" ng-click="addAttachment()">
        <a title="upload an attachment to this story">
          <i class="fa fa-paperclip fa-fw fa-2x on-cab"></i><span class="cab-desc">add Attachment</span>
        </a>
      </li>

      <li ng-show="appState < 128 && editMode" ng-click="controlText('bold',$event)">
        <a title="make text bold">
          <i class="fa fa-bold fa-fw fa-2x on-cab"></i><span class="cab-desc">make Text bold</span>
        </a>
      </li>

      <li ng-show="appState < 128 && editMode" ng-click="controlText('italic',$event)">
        <a title="make text italic">
          <i class="fa fa-italic fa-fw fa-2x on-cab"></i><span class="cab-desc">make Text italic</span>
        </a>
      </li>

      <li ng-show="appState < 128 && editMode" ng-click="controlText('link',$event)">
        <a title="make text a link">
          <i class="fa fa-external-link fa-fw fa-2x on-cab"></i><span class="cab-desc">make Text a Link</span>
        </a>
      </li> 

      <li ng-show="appState < 128 && editMode" ng-click="controlText('header',$event)">
        <a title="make current line a header">
          <i class="fa fa-text-height fa-fw fa-2x on-cab"></i><span class="cab-desc">make Line a Header</span>
        </a>
      </li>

      <li ng-show="appState < 128 && editMode" ng-click="controlText('list-ul',$event)">
        <a title="make line a list">
          <i class="fa fa-list-ul fa-fw fa-2x on-cab"></i><span class="cab-desc">make Line a List</span>
        </a>
      </li>  

      <!-- create a new story on it's own -->
      <li ng-show="!selectMode && !targetMode && appState === 128">
        <a href="#/story" title="create a new story" ng-click="toggleMenu()">
          <i class="fa fa-file-text-o fa-fw fa-2x on-cab"></i><span class="cab-desc">create a new Story</span>
        </a>
      </li>

      <li class="cab-right not-in-responsive" id="user-menu">
        <a class="user">
          <i class="fa fa-user fa-fw fa-lg"></i>&nbsp;{{userContext.name}}
        </a>
        <ul>
          <li ng-click="changePassword()"><i class="fa fa-cog fa-fw"></i>&nbsp;change password</li>
          <li ng-click="logout()"><i class="fa fa-power-off fa-fw"></i>&nbsp;log me out</li>
        </ul>
      </li>

      <li class="cab-right not-in-responsive">
        <input id="query-input" ng-model="cabQueryString" placeholder="search for..." on-enter="search()"
          select-on-focus>
        </input>
      </li>

      <li class="cab-right not-in-responsive">
        <a ng-click="search(true)" title="go to the search-page">
          <i class="fa fa-search fa-fw fa-2x on-cab"></i>
        </a>
      </li>

      <li class="cab-right" ng-show="appState < 128">
        <a title="start a new graph-search" ng-click="findPaths()">
          <i class="fa fa-code-fork fa-fw fa-2x on-cab"></i><span class="cab-desc">start Graph-Search</span>
        </a>
      </li>

      <!-- create a new story on it's own -->
      <li class="only-in-responsive last-menu-item">
        <a title="log me out" ng-click="logout()">
          <i class="fa fa-power-off fa-fw fa-2x on-cab"></i><span class="cab-desc">log me out</span>
        </a>
      </li>      
           
    </ul>


    <!-- #                         -->
    <!-- # View                    --> 
    <!-- #                         -->

    <div class="view-container" ng-view="" ng-cloak></div>


    <!-- #                         -->
    <!-- # Modals                  --> 
    <!-- #                         -->

    <div id="md-overlay" class="md-overlay"></div> <!-- the overlay element -->

    <div class="md-modal md-effect-3" id="login-modal" ng-controller="LoginDialogCtrl">
      <div id="login-modal-content" class="md-content">
        <h3>{{welcome}}&nbsp;<i style="float: right; margin-top: 2px;" class="fa fa-lock action"></i></h3>
        <div>
          <input id="loginInput" class="start-focus" type="text" ng-model="login" on-enter="goToPassword()" placeholder="Your Login"></input>
          <input id="passwordInput" type="password" ng-model="pwd" on-enter="doLogin()" placeholder="Your Password"></input>
          <div class="default-button">
            <i id="unlock-icon" class="fa fa-unlock-alt fa-2x action opacity-hover" ng-click="doLogin()"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="md-modal md-effect-3" id="search-modal" ng-controller="SearchDialogCtrl">
      <div class="md-content">
        <h3>Search Colibri<i style="float: right; margin-top: 2px;" class="fa fa-times action" ng-click="cancel()"></i></h3>
        <div>
          <input id="searchDialogInput" 
            class="start-focus" type="text" ng-model="query" on-enter="doSearch()" placeholder="What are you looking for?"></input>
          <div class="default-button">
            <i class="fa fa-check fa-2x action opacity-hover" ng-click="doSearch()"></i>
          </div>
        </div>
      </div>
    </div>    

    <div class="md-modal md-effect-3" id="usersettings-modal" ng-controller="UserSettingsCtrl">
      <div class="md-content">
        <h3>Change Your Password&nbsp;<i style="float: right; margin-top: 2px;" class="fa fa-times action" ng-click="cancel()"></i></h3>
        <div>
          <input id="old-pw-input" class="start-focus" type="password" ng-model="oldPwd" 
            on-enter="goToNewPassword()" placeholder="Your old password"></input>
          <input id="new-pw1-input" type="password" ng-model="newPwd" 
            on-enter="goToRepeatPassword()" placeholder="Your new password"></input>
          <input id="new-pw2-input" type="password" ng-model="repeatPwd" 
            on-enter="change()" placeholder="repeat the new password"></input>
          <div class="default-button">            
            <i class="fa fa-check fa-2x on-button action default-button opacity-hover" ng-click="change()"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- #                         -->
    <!-- # Messages                --> 
    <!-- #                         -->

    <div growl></div>


    <!-- #                         -->
    <!-- # Error-Message           --> 
    <!-- #                         -->

    <div error-dialog></div>


    <!-- #                         -->
    <!-- # JavaScript              --> 
    <!-- #                         -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-growl/build/angular-growl.js"></script>
    <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="bower_components/ngQuickDate/dist/ng-quick-date.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/angular-gestures/gestures.js"></script>
    <!-- endbower -->
    <script src="bower_components/marked/lib/marked.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/storyService.js"></script>
        <script src="scripts/controllers/story.js"></script>
        <script src="scripts/services/slotService.js"></script>
        <script src="scripts/controllers/slot.js"></script>
        <script src="scripts/controllers/cab.js"></script>
        <script src="scripts/controllers/query.js"></script>
        <script src="scripts/services/queryService.js"></script>
        <script src="scripts/services/utilService.js"></script>
        <script src="scripts/directives/misc.js"></script>
        <script src="scripts/directives/errorDialog.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/graph.js"></script>
        <script src="scripts/services/graphService.js"></script>
        <script src="scripts/directives/typeahead.js"></script>
        <script src="scripts/directives/selectbox.js"></script>
        <script src="scripts/services/shareService.js"></script>       
        <script src="scripts/filters/rightsFilter.js"></script>                
        <script src="scripts/directives/onFinishRender.js"></script>
        <script src="scripts/controllers/userSettings.js"></script>
        <script src="scripts/services/favourService.js"></script>        
        <script src="scripts/directives/markdownEditor.js"></script>
        <script src="scripts/controllers/searchDialog.js"></script>
        <!-- endbuild -->
</body>
</html>
