<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/story.css">
    <link rel="stylesheet" href="styles/cab.css">
    <link rel="stylesheet" href="styles/buttons.css">
    <!-- endbuild -->
  </head>
  <body ng-app="amanuensisApp" ng-controller="CabCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


      <!-- #                         -->
      <!-- # StatusBar               --> 
      <!-- #                         -->
       <ul id="cab" class="cab-main">

        <li ng-show="appState < 128" class="trigger cab-action" ng-click="toggleLeft()">
          <i class="fa fa-th fa-2x on-cab"></i>
        </li>

        <li ng-show="appState < 128" class="trigger cab-right cab-action" ng-click="toggleRight()">
          <i class="fa fa-th fa-2x on-cab"></i>
        </li>         

        <li ng-click="goBack()"><a><i class="fa fa-chevron-left fa-fw fa-2x on-cab"></i></a>></li>

        <li ng-show="selectMode" ng-click="select()"><a><i class="fa fa-check fa-fw fa-2x on-cab"></i></a>></li>
        <li ng-show="selectMode" ng-click="goToStack()"><a><i class="fa fa-clipboard fa-fw fa-lg on-cab"></i>&nbsp;{{stack.storyTitle}}&nbsp;<i class="fa fa-link fa-fw fa-lg on-cab"></i>&nbsp;{{stack.slotName}}</a></li>        
        <li ng-show="selectMode" ng-click="cancel()"><a><i class="fa fa-times fa-fw fa-2x on-cab"></i></a></li>

        <li class="cab-right"><a href="/#/query"><i class="fa fa-search fa-fw fa-lg"></i>&nbsp;search...</a></li>
        <li class="cab-right"><a><i class="fa fa-user fa-fw fa-lg"></i>&nbsp;Jens Stegemann</a></li>
        
             
      </ul>

<!--
      <div ng-controller="CabCtrl"><a href="/#/query">[go to query]</a> Mode: {{mode}}, Stack: {{stack}} 
        <button ng-show="mode" ng-disabled="isNotSelectable()" ng-click="select()">select</button>
        <input ng-show="mode == 2" type="text" ng-model="slotName"></input>
        <button ng-show="mode" ng-click="cancel()">cancel</button>
      </div>
-->

      <!-- #                         -->
      <!-- # View                    --> 
      <!-- #                         -->
      <div class="view-container" ng-view=""></div>

 <!--    </div> -->

    <!-- #                         -->
    <!-- # JavaScript              --> 
    <!-- #                         -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/storyService.js"></script>
        <script src="scripts/controllers/story.js"></script>
        <script src="scripts/services/slotService.js"></script>
        <script src="scripts/controllers/slot.js"></script>
        <script src="scripts/controllers/cab.js"></script>
        <script src="scripts/controllers/query.js"></script>
        <script src="scripts/services/queryService.js"></script>
        <!-- <script src="scripts/services/cab.js"></script> -->
        <!-- endbuild -->
</body>
</html>
