<div id="query-container" class="container story" scrollbar refresh-on-change="result.hits.hits"> 

  <div class="query">

    <h2 style="margin:4em;">Facets</h2>
    <ul>
      <li ng-repeat="term in result.facets.tags.terms" ng-click="searchWithFilter(term.term)"><a><i class="fa fa-tag"></i>{{term.term}} ({{term.count}})</a></li>
    </ul>

    <h2 ng-show="result" class="resultHeader" style="margin-top: 100px"><i class="fa fa-bars fa-lg on-slot"></i>&nbsp;Results for "{{queryString}}"<span ng-show="terms"> with Tags <span ng-repeat="term in terms"><i class="fa fa-tag"></i>{{term}}</span></span></h2>

    <ul ng-show="result" class="resultList">

      <li class="resultListItem" ng-repeat="storyResult in result.hits.hits">
        <a href="#/story/{{storyResult._source.id}}"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;{{storyResult._source.title}}</a>
        <p class="origin">created by {{storyResult._source.createdBy}} on {{storyResult._source.created.substr(0,10)}}</p>
        <p class="content">{{storyResult._source.content}}...</p>
        <!-- &nbsp;<button ng-click="remove(storyInfo.id,$index)">[delete]</button> -->
      </li>
    </ul>

    <p ng-show="result" class="stats">found {{result.hits.total}} stories in {{result.took}} ms.</p>

  </div>

</div>