<div class="query-sidebar container shadow-right" scrollbar refresh-on-change="result.facets.tags.terms">
    <h3 ng-show="result"class="filterHeader"><i class="fa fa-filter fa-lg on-slot"></i>&nbsp;Filter Results:</h3>
    <ul ng-show="result" class="tag-list">
      <li ng-repeat="term in result.facets.tags.terms" ng-click="searchWithFilter(term.term)">
        <a><i class="fa fa-tag"></i>{{term.term}} ({{term.count}})</a>
      </li>
      <li>Hallo, dies ist ein Test</li>
    </ul>
</div>

<div class="query-results container" scrollbar refresh-on-change="result.hits.hits">
  <h2 ng-show="result" class="resultHeader">
    <i class="fa fa-bars fa-lg on-slot"></i>&nbsp;Results for "{{queryString}}"
    <span ng-show="terms"> with Tag <span ng-repeat="term in terms"><i class="fa fa-tag"></i>{{term}}</span></span>
  </h2>

    <ul ng-show="result" class="resultList">

      <li class="resultListItem" ng-repeat="storyResult in result.hits.hits">
        <a href="#/story/{{storyResult._source.id}}"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;{{storyResult._source.title}}</a>
        <p class="origin">created by {{storyResult._source.createdBy}} on {{storyResult._source.created.substr(0,10)}}</p>
        <p class="content">{{storyResult._source.content}}...</p>
      </li>
    </ul>

    <p ng-show="result" class="stats">found {{result.hits.total}} stories in {{result.took}} ms.</p>  
</div>
