<!--                              -->
<!-- # The inSlots  and -Stories  --> 
<!-- #                            -->

<div id="left-container" class="container left-container" ng-class="{'show-slots': inSlots, 'show-stories': inStories}">
	<!-- inbound Story-List	-->
  <div id="stories-left" class="container stories stories-left shadow-right" ng-controller="SlotCtrl" ng-init="inbound=true" scrollbar>
		<div class="story-list-title">
      <i class="fa fa-bars fa-lg on-slot" ng-class="{'fa-bars':!storyFilter.title, 'fa-filter':storyFilter.title}"></i>
      <input class="story-filter" type="text" placeholder="{{slotName}}" ng-model="storyFilter.title"></input>
    </div>
		<ul class="story-list" ng-switch on="storyListViewMode">
      <div ng-switch-when="few">
        <li class="story-info" ng-repeat="storyInfo in stories | filter:storyFilter | orderBy:'created'" 
          ng-click="openStory(storyInfo.id, slotName, false)">
          <span class="title"><i class="fa fa-book on-slot"></i>{{storyInfo.title}}</span>
          <p story-preview markdown-source="storyInfo.content"></p>
          <i class="fa fa-trash-o fa-lg on-button delete-action" ng-click="remove(storyInfo,$event)"></i>
        </li>
      </div>
      <div ng-switch-when="single">
        <li class="story-info" ng-repeat="storyInfo in stories | filter:storyFilter | orderBy:'created'"
          ng-click="openStory(storyInfo.id, slotName, false)">
          <span class="title"><i class="fa fa-book on-slot"></i>{{storyInfo.title}}</span>
          <p class="single-story" story-preview markdown-source="storyInfo.content"></p>
          <i class="fa fa-trash-o fa-lg on-button delete-action" ng-click="remove(storyInfo,$event)"></i>
        </li>
      </div>
      <div ng-switch-when="all">
        <li class="story-info" ng-repeat="storyInfo in stories | filter:storyFilter | orderBy:'created'" 
          ng-click="openStory(storyInfo.id, slotName, false)">
          <span class="title"><i class="fa fa-book on-slot"></i>{{storyInfo.title}}</span>
          <i class="fa fa-trash-o fa-lg on-button delete-action" ng-click="remove(storyInfo,$event)"></i>
        </li>
      </div>
		</ul>  	
  </div>
	<!-- inbound Slot-List	-->
  <div id="slots-left" class="container slots slots-left shadow-right" scrollbar>
    <div class="slot-list-title">
      <i class="fa on-slot" ng-class="{'fa-link':!slotFilterLeft, 'fa-filter':slotFilterLeft}"></i>
      <input class="slot-filter" type="text" placeholder="Inbound" ng-model="slotFilterLeft"></input>
    </div>
    <ul class="slot-list">
      <li class="slot-name" ng-repeat="slot in context.inSlots | filter:slotFilterLeft | orderBy:'name'" 
        ng-click="selectSlot(slot.name, true)">
      	<i class="fa fa-caret-left on-slot"></i>{{slot.name}}
      </li>
    </ul>  	
  </div>
</div>
     

<!-- #                            -->
<!-- # The Story itself           --> 
<!-- #                            -->

<div id="story-container" class="container story" ng-class="{'shifted-right': inStories, 'shifted-left': outStories}"> 

    <ng-form>
      <div class="inner">
				<div class="story-header">
					<div class="story-icon"><i class="fa fa-bookmark fa-5x"></i></div>
          <input id="story-title-input" class="story-title" type="text" ng-model="context.story.title"
            placeholder="A Story..."></input>
				  <h1><span>created on {{context.story.created.substr(0,10)}} by {{context.story.createdBy}}</span></h1>
            <tags-input ng-model="context.story.tags" max-length="50" allowed-tags-pattern="^[\w\-üäöÜÄÖß$!\?]*$">
              <auto-complete class="autocomplete-master" source="suggestTags($query)" debounceDelay="250" maxResultsToShow="20">
              </auto-complete>
            </tags-input>
        </div>
				<div id="story-content" class="content" scrollbar fill-vertical margin='0'>
				  <textarea ng-show="editMode" id="story-content-editor" class="story-content" ng-model="context.story.content" 
            placeholder="... that still has to be written." 
            uploadable fill-vertical margin='20'>
          </textarea>
          <div id="story-view" ng-hide="editMode" ng-dblclick="showContentEditor()" class="story-view" markdown>
          y 
          </div>
				</div>       
      </div>
    </ng-form>
</div >


<!-- #                            -->
<!-- # The outSlots  and -Stories --> 
<!-- #                            -->

<div id="right-container" class="container right-container" ng-class="{'show-slots': outSlots, 'show-stories': outStories}">
	<!-- outbound Story-List	-->
  <div id="stories-right" class="container stories stories-right shadow-left "ng-controller="SlotCtrl"  ng-init="inbound=false" scrollbar>
		<div class="story-list-title">
      <i class="fa fa-lg on-slot" ng-class="{'fa-bars':!storyFilter.title, 'fa-filter':storyFilter.title}"></i>
      <input class="story-filter" type="text" placeholder="{{slotName}}" ng-model="storyFilter.title"></input>
    </div>
		<ul class="story-list" ng-switch on="storyListViewMode">
      <div ng-switch-when="few">
        <li class="story-info" ng-repeat="storyInfo in stories | filter:storyFilter | orderBy:'created'" 
          ng-click="openStory(storyInfo.id, slotName, true)">
          <span class="title"><i class="fa fa-book on-slot"></i>{{storyInfo.title}}</span>
          <p story-preview markdown-source="storyInfo.content"></p>
          <i class="fa fa-trash-o fa-lg on-button delete-action" ng-click="remove(storyInfo,$event)"></i>
        </li>
      </div>
      <div ng-switch-when="single">
        <li class="story-info" ng-repeat="storyInfo in stories | filter:storyFilter | orderBy:'created'" 
          ng-click="openStory(storyInfo.id, slotName, true)">
          <span class="title"><i class="fa fa-book on-slot"></i>{{storyInfo.title}}</span>
          <p class="single-story" story-preview markdown-source="storyInfo.content"></p>
          <i class="fa fa-trash-o fa-lg on-button delete-action" ng-click="remove(storyInfo,$event)"></i>
        </li>
      </div>
      <div ng-switch-when="all">
        <li class="story-info" ng-repeat="storyInfo in stories | filter:storyFilter | orderBy:'created'" 
          ng-click="openStory(storyInfo.id, slotName, true)">
          <span class="title"><i class="fa fa-book on-slot"></i>{{storyInfo.title}}</span>
          <i class="fa fa-trash-o fa-lg on-button delete-action" ng-click="remove(storyInfo,$event)"></i>
        </li>
      </div>


<!--
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
      <li class="story-info"><i class="fa fa-book on-slot"></i>TestStory</li>
-->

		</ul>  	
  </div>
	<!-- outbound Slot-List	-->
  <div id="slots-right" class="container slots slots-right shadow-left" scrollbar>
    <div class="slot-list-title">
      <i class="fa on-slot" ng-class="{'fa-link':!slotFilterRight, 'fa-filter':slotFilterRight}"></i>
      <input class="slot-filter" type="text" placeholder="Outbound" ng-model="slotFilterRight"></input>
    </div>
    <ul class="slot-list">
      <li class="slot-name" ng-repeat="slot in context.outSlots | filter:slotFilterRight | orderBy:'name'" 
        ng-click="selectSlot(slot.name, false)">
      	<i class="fa fa-caret-right on-slot"></i>{{slot.name}}
      </li>
    </ul> 
  </div>
</div>


<!-- #                         -->
<!-- # Modals                  --> 
<!-- #                         -->

<!-- Modal to create a new Slot -->
<div class="md-modal md-effect-3" id="slot-name-modal" ng-controller="SlotNameModalCtrl">
  <div class="md-content">
    <h3>{{title}}&nbsp;<i style="float: right" class="fa fa-times action" ng-click="cancel()"></i>
    </h3>
    <div class="one-line">
    	<typeahead style="height: 37px" ng-model="newSlotName" on-enter="done()" on-escape="cancel()" input-class="start-focus" 
        placeholder="name of new slot" source="suggestSlots($query)">
      </typeahead>
      <div class="confirmation"><i class="fa fa-check fa-2x on-button action opacity-hover" ng-click="done()"></i></div>  
    </div>
  </div>
</div>


<!-- Modal to confirm deletion of a Story -->
<div class="md-modal md-effect-3" id="confirm-delete-modal">
  <div class="md-content">
    <h3>Are you sure?&nbsp;<i style="float: right" class="fa fa-times action" ng-click="cancelConfirmDelete()"></i></h3>
    <div class="confirmation-icon">
      <i class="fa fa-check fa-2x opacity-hover" ng-click="deleteStoryConfirmed()"></i>
    </div>
    <div class="confirmation-message">Do you really want to delete the Story<br>'{{context.story.title}}'?</div>
  </div>
</div>


<!-- Modal to watch a Story for changes -->
<div class="md-modal md-effect-3" id="watch-modal">
  <div class="md-content">
    <h3>You are watching this Story now.&nbsp;<i style="float: right" class="fa fa-times action" ng-click="cancelWatch()"></i></h3>
    <div class="confirmation-icon">
      <i class="fa fa-check fa-2x opacity-hover" ng-click="cancelWatch()"></i>
    </div>
    <div class="confirmation-message">When someone else modifies this story,<br>we will inform you by email to <br><b>dummy@dummy.org</b></div>
  </div>
</div>

<!-- Modal to share a Story with other users -->
<div class="md-modal md-effect-3" id="share-modal" ng-controller="ShareModalCtrl">
  <div class="md-content">
    <h3>You are already sharing this story with...&nbsp;<i style="float: right" class="fa fa-times action" ng-click="cancel()"></i>
    </h3>
    <div id="share-list" class="share-list" scrollbar>
      <table class="shares">
        <tr ng-repeat="share in shares | orderBy:'login'" ng-click="editUser(share.login, share.access)">
          <td class="icon">
            <i class="fa" ng-class="{'fa-user': share.level === 'user', 'fa-group': share.level === 'group', 'fa-globe': share.level === 'public'}"></i>
          </td>
          <td class="login">
            {{share.login}}
          </td>
          <td class="name">
            {{share.name}}
          </td>
          <td class="rights">
            {{share.access | userRights}}
          </td>
          <td class="unshare">
            <i class="fa fa-trash-o" ng-click="unshare(share.login)"></i>            
          </td>
        </tr>
      </table>
    </div>
    <h3>{{title}}</h3>
    <div class="one-line">
      <selectbox class="select-mode" ng-model="mode" options="modes" value-selected="changeMode(value)"></selectbox>     
      <typeahead ng-model="userToShare" input-class="start-focus share-login" 
        placeholder="please enter a name" source="suggestUsersOrGroups($query)" ng-show="mode === 'user' || mode === 'group'">
      </typeahead>
      <div ng-show="mode === 'public'" class="everybody"></div>
      <selectbox ng-model="rightToShare" options="userRights"></selectbox>  
      <div class="confirmation"><i class="fa fa-plus fa-lg on-button action opacity-hover" ng-click="share()"></i></div>  
    </div>
  </div>
</div>
