<!--                              -->
<!-- # The inSlots  and -Stories  --> 
<!-- #                            -->

<div id="left-container" class="container left-container" ng-class="{'show-slots': inSlots, 'show-stories': inStories}">
	<!-- inbound Story-List	-->
  <div id="stories-left" class="container stories stories-left shadow-right" ng-controller="SlotCtrl">
		<div class="story-list-title"><i class="fa fa-bars fa-lg on-slot"></i>{{slotName}}</div>
		<ul class="story-list">
			<li class="story-info" ng-repeat="storyInfo in stories" ng-click="openStory(storyInfo.id)">
				<i class="fa fa-book on-slot"></i>{{storyInfo.title}}
			</li>
		</ul>  	
  </div>
	<!-- inbound Slot-List	-->
  <div id="slots-left" class="container slots slots-left shadow-right">
    <div class="slot-list-title"><i class="fa fa-link fa-lg on-slot"></i>&nbsp;Inbound Slots</div>
    <ul class="slot-list">
            <li class="slot-name" ng-repeat="slot in context.inSlots" ng-click="selectSlot(slot.name, true)">
            	<i class="fa fa-mail-reply on-slot"></i>{{slot.name}}
            </li>
    </ul>  	
  </div>
</div>
     

<!-- #                            -->
<!-- # The Story itself           --> 
<!-- #                            -->

<div id="story-container" class="container story" ng-class="{'shifted-right': inStories, 'shifted-left': outStories}"> 

    <div class="inner">
			<ng-form>
				<header>
					<div class="story-icon"><i class="fa fa-bookmark fa-5x"></i></div>
					<div class="story-header">
						<input class="story-title" type="text" ng-model="context.story.title"></input>
				  	<h1><span>edited on January, 1st 2014 by Jens Stegemann</span></h1> 
				  </div>
				</header>
				<div class="content">
				  <textarea class="story-content" ng-model="context.story.content"></textarea></textarea>
				</div>
				<p>&nbsp;</p>
				<div class="button-bar">
					<button class="button" ng-click="save()">save Story<i class="fa fa-save fa-lg on-button"></i></button>
					<button class="button" ng-click="delete()">delete Story<i class="fa fa-trash-o fa-lg on-button"></i></button>
					<button class="button" ng-click="askForNewSlotName()">create Slot<i class="fa fa-link-o fa-lg on-button"></i></button>
					<!-- &nbsp;In-Slots:<input type="checkbox" ng-model="inSlots">
					&nbsp;In-Stories:<input type="checkbox" ng-model="inStories">
					&nbsp;Out-Slots:<input type="checkbox" ng-model="outSlots">
					&nbsp;Out-Stories:<input type="checkbox" ng-model="outStories"> -->
				</div>
			</ng-form>       
    </div>
</div>


<!-- #                            -->
<!-- # The outSlots  and -Stories --> 
<!-- #                            -->

<div id="right-container" class="container right-container" ng-class="{'show-slots': outSlots, 'show-stories': outStories}">
	<!-- inbound Story-List	-->
  <div id="stories-right" class="container stories stories-right shadow-left" ng-controller="SlotCtrl">
		<div class="story-list-title"><i class="fa fa-bars fa-lg on-slot"></i>{{slotName}}</div>
		<ul class="story-list">
			<li class="story-info" ng-repeat="storyInfo in stories" ng-click="openStory(storyInfo.id)">
				<i class="fa fa-book on-slot"></i>{{storyInfo.title}}
			</li>
		</ul>  	
  </div>
	<!-- inbound Slot-List	-->
  <div id="slots-right" class="container slots slots-right shadow-left">
    <div class="slot-list-title"><i class="fa fa-link fa-lg on-slot"></i>&nbsp;Outbound Slots</div>
    <ul class="slot-list">
      <li class="slot-name" ng-repeat="slot in context.outSlots" ng-click="selectSlot(slot.name, false)">
      	<i class="fa fa-mail-reply on-slot"></i>{{slot.name}}
      </li>
    </ul>  	
  </div>
</div>


<!-- #                         -->
<!-- # Modals                  --> 
<!-- #                         -->

<div class="md-modal md-effect-3" id="slot-name-modal">
  <div class="md-content">
    <h3>Please give the new slot a name <i style="float: right" class="fa fa-times action" ng-click="cancelNewSlot()"></i></h3>
    <div>
    	<input type="text" ng-model="newSlotName" on-enter="addStoryToSlot()" on-escape="cancelNewSlot ()"></input>
      <i class="fa fa-check fa-2x on-button action" ng-click="addStoryToSlot()"></i>


<!--      <button class="button md-close" ng-click="addStoryToSlot()">Done!</button> 
      &nbsp;-->
    </div>
  </div>
</div>

