div.container {
  position: absolute;
  height: calc(100% - 1.2em);
  top: 0;
  margin: 0;
  padding: 0;
}

/* 
 * Left-Side
 */

div.container.left-container {
  width: 45%;
  z-index: 2;
  left: -45%;
  position: fixed;
  margin-top: 2.5em;

  -webkit-transition:all linear  0.15s;
    transition:all linear 0.15s;
}

div.container.left-container.show-slots {
  left: -30%;

  -webkit-transition:all linear  0.25s;
    transition:all linear 0.25s;
}

div.container.left-container.show-stories {
  left: 0;
}


div.container.stories-left {
  left: 0;
  width: 67%;
  z-index: 4;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
}

div.container.slots-left {
  left: 67%;
  width: 33%;
  z-index: 3; 
}

/* 
 * Right-Side
 */
 
div.container.right-container {
  width: 45%;
  z-index: 2;
  left: 100%;
  position: fixed; 
  margin-top: 2.5em;

  -webkit-transition:all linear  0.15s;
    transition:all linear 0.15s;         
}

div.container.right-container.show-slots {
  left: 85%;

  -webkit-transition:all linear  0.25s;
    transition:all linear 0.25s;
}

div.container.right-container.show-stories {
  left: 55%;
}

div.container.slots-right {
  left: 0;
  width: 33%;
  z-index: 3;
}

div.container.stories-right {
  left: 33%;
  width: 67%;
  z-index: 4;
}




/*
 * Story
 */ 
div.container.story {
  width: 100%;
  max-width: 100%;
  position: fixed;
  margin-top: 2.5em;

  left: 0;
  z-index: 0;

  -webkit-transition:all linear  0.25s;
    transition:all linear 0.25s;        
}

div.container.story.shifted-right {
  left: 45%;
  width: 55%;
}

div.container.story.shifted-left {
  left: 0%;
  width: 55%;
}

div.container.story div.inner {
  position: absolute;
  height: 100%; 
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-top: 0px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}