div.container {
  position: absolute;
  /* height: calc(100% - 1.2em); */
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.fixfixed .left-container, 
.fixfixed .right-container,
.fixfixed div.container.story,
.fixfixed .cab-main { 
    position: absolute; 
} 

/* 
 * Left-Side
 */

div.left-container {
  width: 45%;
  z-index: 2;
  left: -45%;
  position: fixed;
  margin-top: 2.5em;
  transition: left 0.25s ease-out;
}

.left-container.show-slots {
  left: -30%;
  transition: left 0.25s ease-out;
}

.left-container.show-stories {
  left: 0;
}

.stories-left {
  left: 0;
  width: 67%;
  z-index: 4;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slots-left {
  left: 67%;
  width: 33%;
  z-index: 3;
}

/* 
 * Right-Side
 */

div.right-container {
  width: 45%;
  z-index: 2;
  left: 100%;
  position: fixed;
  margin-top: 2.5em;
  transition: left 0.25s ease-out;
}

.container.right-container.show-slots {
  left: 85%;
  transition: left 0.25s ease-out;
}

.container.right-container.show-stories {
  left: 55%;
}

.slots-right {
  left: 0;
  width: 33%;
  z-index: 3;
}

.stories-right {
  left: 33%;
  width: 67%;
  z-index: 4;
}

/*
 * Story
 */

div.container.story {
  max-width: 100%;
  position: fixed;
  margin-top: 2.5em;
  left: 0;
  z-index: 0;
  width: 70%;
  left: 15%;
  transition: left 0.25s ease-out, width 0.25s linear;
}

div.container.story.shifted-right {
  left: 45%;
  width: 55%;
  transition: left 0.25s ease-out, width 0.25s linear;
}

div.container.story.shifted-left {
  left: 0%;
  width: 55%;
  transition: left 0.25s ease-out, width 0.25s linear;
}

div.container.story div.inner {
  position: absolute;
  height: calc(100% - 1.2em);
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  margin-top: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
