@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  background: #34495e;
}

/*
 * Story-Title
 */

header {
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0 auto;
  margin-top: 40px;
  padding: 1.8em 1em;
  padding-left: 370px;
  background: rgba(0,0,0,0.05);
}

header a {
  color: #566473;
  text-decoration: none;
  outline: none;
}

header a:hover {
  color: #4f7bab;
}

header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

header span {
  display: block;
  font-size: 0.4em;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}

input.story-title {
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  background: transparent;
  border: none;
}
  

/*
 * Story-Content
 */

div.content {
  display: block;
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  padding: 1.8em 1em;
  padding-left: 370px;
}

textarea.story-content {
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  background: transparent;
  border: none;
  width: 600px;
  font-size: 1.2em;
  padding: 10px;
}


/*
 * CAB
 */

 .cab-main,
.cab-main ul {
    margin: 0;
    padding: 0;
    background: white;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 40px;
}

.cab-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 13px;
}

.cab-main a {
    display: block;
    height: 100%;
    color: #5f6f81;
    text-decoration: none;
    cursor: pointer;
}

.cab-main > li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    text-align: center;
}

/* icon-only trigger (menu item) */

.cab-main > li > a {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.cab-main:after {
    display: table;
    clear: both;
    content: "";
}
.cab-main li.trigger-left {
    position: relative;
    width: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cab-main li.trigger-right {
    position: relative;
    width: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    border-right: none;
    border-left: 1px solid #c6d0da;
}


/* 
 * Icons 
 */
 .icon::before {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'ecoicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.icon span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.icon-menu::before {
    margin-left: -15px;
    vertical-align: -2px;
    width: 30px;
    height: 3px;
    background: #5f6f81;
    box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
    content: '';
}

// ToDo: example for icon, delete!
.icon-search::before {
    content: "\e005"
}