@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

*:focus {
    outline: 0;
}

body,html {
  background: #34495e;
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-width: 100%;
}


a, a:link, a:visited, a:active, a:hover {
  color: inherit;
}

.view-container {
	position: absolute; 
  min-height: 20em;
	width:100%;
  max-width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0;
	left: 0;
	top: 0;
}

.one-line {
  white-space: nowrap;
}

/*
 * Alerts
 */

.alert {
  padding: 1em;
  margin-bottom: 1.250em;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 0.313em;
}

.alert-dismissable {
  padding-right: 2.1em;
}

.alert-dismissable .close {
  position: relative;
  top: -0.125em;
  right: -1.313em;
  color: inherit;
}

.alert-success {
  color: #11273d;
  background-color: #e6d8ac;
  border-color: #c8bb93;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.close {
  float: right;
  font-size: 1.313em;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

/*
 * Login
 */

#login-modal {
  width: 32em;
}

#passwordInput {
  margin-top: 1em;
}

#loading-bar .bar {
  background: #29d;
}

/*
 * Pagination
 */
p.pagination {
  text-align: center;
}

p.pagination span.pagination-nav {
  cursor: pointer;
  font-weight: 400;
  margin-left: 0.625em;
  margin-right: 0.625em;
}

/*
 * resizing
 */
.resize-sensor, .resize-sensor > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/*
 * scrollbar
 */
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.4);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5em;
  background-color: transparent;
}

.thick-scroll::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.25);
}

.vertical-scrollable {
  overflow-x: hidden; 
  overflow-y: auto !important;
  /* asc touch-event: pan-y !important; */
  -webkit-overflow-scrolling: touch;  
}

br.only-responsive {
  display: none;
}

.not-in-responsive {
  display: inline;
}
