
div.query-sidebar {
  width: 20%;
  min-width: 200px;
  float: left;
  padding: 1.0em;
  padding-top: 2.4em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  overflow: hidden;
  background-color: #11273d;
  color: #dacea6;
}

div.query-results {
  width: 80%;
  left: 20%;
  min-width: 200px;
  float: left;
  padding: 2.4em 2.0em; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  overflow: hidden;
}

h3.filterHeader {
  margin-top: 2.2em;
  font-size: 1.2em;
  font-weight: 300;
}

h2.resultHeader {
  margin: 0px;
  margin-top: 1em;
  margin-bottom: 0.8em;
  font-size: 2em;
  font-weight: 300;
}

h2.resultHeader span i {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

ul.resultList {
  padding-left: 20px;
  list-style: none;
  text-transform: none;  
  font-size: 1.0em;
  word-wrap: break-word;  
}

ul.tag-list {
  list-style: none;
  text-transform: none;
  padding-left: 0.8em;
}

ul.tag-list > li {
  margin-top: 0.25em;
}

ul.tag-list a {
  cursor: pointer;
}

ul.tag-list i {
  margin-right: 5px;
}

li.resultListItem {
  margin-bottom: 30px;
}

li.resultListItem > a {
  font-size: 1.6em;
  font-weight: 300;
  text-decoration: none;
}

li.resultListItem > p.origin {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
}

li.resultListItem > p.content {
  margin-top: 5px;
  font-size: 1.0em;
  color: #ffffff;
}

p.stats {
  padding-left: 1.0em;
  margin-bottom: 25px;
}

.main-search {
  text-align: center;
  height: 100%;
}

.logo {
  margin-bottom: 2em;
  margin-top: 6em;
}

.main-search-input {
  margin-top: 1.4em;
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.3;
  margin: 0;
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: 300;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 40%;
}

.welcome-msg {
  font-size: 3em;
  color: white;
  font-weight: 300;
}