div.query {
  padding: 0 15%;
  overflow: hidden;
}

h2.resultHeader {
  margin: 0px;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 300;
}

ul.resultList {
  padding-left: 20px;
  list-style: none;
  text-transform: none;  
}

li.resultListItem {
  margin-bottom: 30px;
}

li.resultListItem > a {
  font-size: 1.6em;
  font-weight: 300;
  text-decoration: none;
}

li.resultListItem > p.origin {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
}

li.resultListItem > p.content {
  margin-top: 5px;
  font-size: 1.0em;
  color: #ffffff;
}

p.stats {
  margin-top: 40px;
}