/* 
 * small 
 */
@media screen and (max-width: 1280px) {
  body {
    font-size: 0.750em;
  }
}


/* 
 * very small 
 */
@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }

  div.container.story {
    width: 100%;
    left: 0%;
  }

}

/* 
 * phone landscape 
 *
@media screen and (max-width: 800px) {
  body {
    font-size: 8px;
  }
} */

/* 
 * phone portrait
 */
@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }

  img.logo {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  /*li.trigger {
    display: none;
  }*/

  div.left-container {
    width: 200%;
    left: -200%;
  }

  .left-container.show-slots {
    left: -100%;
  }

  .left-container.show-stories {
    left: 0;
  }

  .stories-left {
    width: 50%;
  }

  .slots-left {
    left: 50%;
    width: 50%;
  }  


  div.right-container {
    width: 200%;
    left: 100%;
  }

  .right-container.show-slots {
    left: 0;
  }

  .right-container.show-stories {
    left: -100%;
  }

  .stories-right {
    width: 50%;
    left: 50%;
  }

  .slots-right {
    width: 50%;
  }  

  /*
   * Query-Page
   */

  div.query-sidebar {
    width: 100%;
    left: -100%;   
    transition: left 0.25s ease-out;    
  }

  h3.filterHeader {
    font-size: 1.8em;
  }

  .tag-list {
    font-size: 1.4em;
    line-height: 1.2em;
  }

  div.query-results {
    left: 0;
    width: 100%;
    transition: left 0.25s ease-out;
  }

  div.query-sidebar.activeSidebar {
    left: 0;
    transition: left 0.25s ease-out;
  }

  div.query-results.activeSidebar {
    left: 100%;
    transition: left 0.25s ease-out;
  }

  .main-search-input {
    width: 80%;
  }

  /*
   * Story-Page
   */

  br.only-responsive {
    display: inline;
  }

  .not-in-responsive {
    display: none;
  }

  div.story-icon {
    height: 7em;
  }

  div.stories {
    font-size: 1.4em;
  }

  div.slots {
    font-size: 1.4em;
  }

  li.tag-item > span {
    font-size: 0.8em;
  }

  div.ngTagsInput li.tag-item {
    padding-top: 0;
    padding-bottom: 0;
  }

  /*
   * share modal
   */

  #share-modal > div.md-content > h3 {
    margin-bottom: 0;
  }
  
  #share-modal > div.md-content > div {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #share-modal div.confirmation {
    margin-left: 0;
  }

  #share-modal div.share-new {
    font-size: 1.6em;
  }

  #share-modal div.confirmation {
    font-size: 0.75em;
  }

  #share-modal div.typeahead {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: 100%;
  }

  #share-modal div.typeahead > div.suggestions {
    width: 85%;
  }

  /*
   * CAB
   */

 #responsive-cab {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 2.5em;
    z-index: 9000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    font-size: 0.625em;    
  }

  #responsive-cab > li {
    float: left;
    display: block;
    background-color: #fff;
    min-width: 4em;
    text-align: center;
    height: 4em;
  }  

  #responsive-cab a {
    display: block;
    height: 100%;
    color: #5f6f81;
    text-decoration: none;
    cursor: pointer;
  }

  #responsive-cab > li > a.text {
    font-weight: normal;
    font-size: 1.6em;
    margin-top: 0.2em;
  }

  #responsive-cab > li.middle {
    position: absolute;
    left: 4em;
    right: 4em;
  }

  #responsive-cab > li.cab-right {
    float: right;
    border-right: none;
    border-left: 1px solid #c6d0da;
  }

  #responsive-cab > li > input {
    font-family: 'Lato', Arial, sans-serif;
    color: #333;
    font-size: 1.6em;
    line-height: 1.3;
    margin: 0.4em 0.625em 0px 0.625em;
    font-weight: 300;
    background: transparent;
    border: none;
    width: 8em;
    max-width: 8em;
  }  

.cab-main {
    z-index: 9000;
    background: transparent;
    position: fixed;
    top: 4em;
    left: 5%;
    width: 90%;
    min-width: 0;
    height: auto;
    max-height: 90%;
    font-size: 0.625em;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    line-height: 1em;
    border-left: 1px solid #666460;
    border-right: 1px solid #666460;    
    border-radius: 0 0 0.627em 0.627em;
}

  .cab-main > li.trigger {
    display: none;
  }

  #responsive-cab > li.menu-trigger {
    float: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    border: none;
  }

  #responsive-cab > li.search-trigger {
    float: right;
    right: 0;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    border: 0;
  }

  .cab-main > li {
    display: none;
    background-color: #333230;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #666460;
    text-align: left;
    height: auto;
  }

  .cab-main > li.last-menu-item {
    border-radius: 0 0 0.627em 0.627em;
  }

  .cab-main.active-menu > li {
    display: block;
  }

  .cab-main > li.not-in-responsive {
    display: none;
  }

  .cab-main > li > a {
    color: #fff;
    width: 90%;
    font-size: 1.6em;
    padding: 0.6em;
    font-weight: 400;
    line-height: 2em;
    padding-top: 0;
  }

  .cab-main > li > a > i {
    font-size: 1.5em;
  }

  .cab-desc {
    display: inline;
    font-size: 1.3em;
    margin-left: 0.5em;
  }

  .cab-main > li:hover {
    background-color: #ccc;
  }

  /* 
   * modals 
   */

  .md-modal {
    position: fixed;
    margin: 2.5%;
    top: 0;
    left: 0;
    width: 95%;
    max-width: 100%;
    height: 95%;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    overflow: hidden;
  }

  .md-effect-3 .md-content {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .md-show.md-effect-3 .md-content {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }

  /* Content styles */
  .md-content {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

   div.md-overlay {
    position: fixed;
    width: 200%;
    height: 200%;
    top: -100%;
    left: -100%;
  }

  .md-content h3 {
    font-size: 1.5em;
    margin-bottom: 1em
  }

  .md-content div.confirmation {
    margin-top: 4em;
    display: block;
    width: 100%;
    text-align: center;
  }

  .md-content div.confirmation i {
    font-size: 4em;
    margin: 0;
    padding: 0.5em;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50% 50%;
  }

  .md-content div.confirmation-icon {
    float: none;
    margin-top: 4em;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .md-content div.confirmation-icon > i {
    font-size: 4em;
  }

  .md-content div.confirmation-message {
    font-size: 1.7em;
    padding: 1em;
    width: 100%;
  }

  div.typeahead {
    width: 100%;
    max-width: 100%;
  }

  .md-content input {
    font-size: 1.7em;
    width: 100%;
  }

  /*
   * share-modal
   */

  #share-modal {
    width: 95%;
    max-width: 95%;
  }  

  /*
   * login-modal
   */ 

  #login-modal {
    width: 95%;
    height: 95%;
    text-align: center;
  }


  #unlock-icon {
    font-size: 3em;
    float: none;
    padding: 0.5em;
    border: 3px solid rgba(255,255,255,0.25);
    border-radius: 50% 50%;
    width: 2em;    
    height: 2em;
    margin: 0;
    margin-top: 4em;
    text-align: center;
    vertical-align: middle;
  }

  #unlock-icon::before {
    font-size: 2em;
  }

  #error-message-modal {
    text-align: center;
  }

  .md-content div.error-message {
    font-size: 1.7em;
    width: 95%;
    margin: 0;
    margin-top: 1em;
    padding: 2.5%;
  }

  .md-content div.error-icon {
    float:none; 
    vertical-align: middle;
    padding: 0em;
    font-size: 3em;
  }

  #search-modal {
    display: none;
  } 


  input.main-search-input {
    display: none;
  }

  .main-search > i {
    display: none;    
  }

}