/*
 * Story-Title
 */

div.story-header {
  display: block;
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
  margin-top: 40px;
  background: rgba(0,0,0,0.05);
  padding: 1.8em 15%;
  overflow: visible;
}

div.container.story.shifted-right div.story-header {
  padding: 1.8em 0.6em;
}

div.container.story.shifted-left div.story-header {
  padding: 1.8em 0.6em;
}

div.story-header a {
  color: #566473;
  text-decoration: none;
  outline: none;
}

div.story-header a:hover {
  color: #4f7bab;
}

div.story-header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

div.story-header div.meta {
  display: block;
  font-size: 0.3em;
  color: #74818e;
  padding: 0 0 0.0em 0.1em;
}

input.story-title {
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  background: transparent;
  border: none;
  width: 80%;
}

div.story-icon {
  width: 64px;
  height: 88px;
  margin: 0px ;
  float: left;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
}
 

/*
 * Story-Content
 */

div.content {
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  padding: 0 15%;
  width: 100%;
  max-width: 100%;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  overflow: hidden;
}

div.container.story.shifted-right div.content, div.container.story.shifted-left div.content  {
  padding: 0 0;
}

div.container.story.shifted-right div.story-view, div.container.story.shifted-left div.story-view {
  padding-right: 10px;
}

.markdown-editor-wrapper {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
  overflow: hidden;
}

#story-content .mCSB_scrollTools .mCSB_draggerContainer{
  position:absolute;
  top:0;
  right:0; 
  margin-top: 10px;
  margin-bottom: 10px;
  height:auto;
}

textarea.story-content {
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  background: transparent;
  border: none;
  width: 100%;
  height: 400px;
  font-size: 1.0em;
  padding: 10px;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea.story-content:focus {
  border: 1px solid #8499af;
}

div.story-view {
  margin-top: -10px;
  padding-top: 0px;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.story-view h1, li.story-info h1 {
  font-size: 1.6em;
  font-weight: 300;
}

div.story-view h2, li.story-info h2 {
  font-size: 1.4em;
  font-weight: 300;
}

div.story-view h3, li.story-info h3 {
  font-size: 1.2em;
  font-weight: 300;
}

div.story-view h4, li.story-info h4 {
  font-size: 1.2em;
  font-weight: 300;
}

div.story-view h5, li.story-info h5 {
  font-size: 1.2em;
  font-weight: 300;
}

div.story-view h6, li.story-info h6 {
  font-size: 1.2em;
  font-weight: 300;
}

div.story-view a, li.story-info a {
  text-decoration: none;
  font-weight: 400;
}

div.story-view a.attachment:before, li.story-info a.attachment:before{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;  
  content: "\f0c6";
  margin-right: 5px;
}

div.story-view a.link:before, li.story-info a.link:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;  
  content: "\f14c";
  margin-right: 5px;
}

div.story-view img {
  max-width: 100%;
}

div.story-view table, li.story-info table {
  border-spacing: 0;
  border-collapse: collapse;
}

div.story-view td, div.story-view th, li.story-info td, li.story-info th {
  border: 1px solid white;
  padding: 0.3em;
  margin: 0;
}

li.story-info div.scale-down {
  height: auto;
  width: auto;
}

div.scale-down img {
  width: 100%;
  height: auto;
}

/*
 * shadows
 */

div.shadow-right {
  -webkit-box-shadow: 3px 0 4px 0 rgba(0,0,0,0.4);
     -moz-box-shadow: 3px 0 4px 0 rgba(0,0,0,0.4);
          box-shadow: 3px 0 4px 0 rgba(0,0,0,0.4);
}

div.shadow-left {
  -webkit-box-shadow: -3px 0 4px 0 rgba(0,0,0,0.4);
     -moz-box-shadow: -3px 0 4px 0 rgba(0,0,0,0.4);
          box-shadow: -3px 0 4px 0 rgba(0,0,0,0.4);}

/*
 * Slot-List
 */

div.slots {
  background-color: #5E4E18;
  overflow: hidden; 
  margin: 0;
  padding: 0;
}

div.slot-list-title {
  width: 100%;
  padding: 15px;
  font-family: 'Lato', Arial, sans-serif;
  color: #E3D091;
  font-size: 1.5em;
  margin-top: 40px;
  font-weight: 300; 
  background: rgba(0,0,0,0.05);
  word-wrap: break-word;  
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}

input.slot-filter {
  outline: none;
  font-family: 'Lato', Arial, sans-serif;
  color: #E3D091;
  width: 6em;
  font-size: 1.1em;
  font-weight: 300; 
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

input.slot-filter::-webkit-input-placeholder {
  color: #E3D091;  
}

input.slot-filter::-moz-placeholder {
  color: #E3D091;  
}

ul.slot-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

li.slot-name {
  width: 100%;
  display: block;
  float: left;
  border-top: 1px solid #866F22;
  padding: 15px;
  font-family: 'Lato', Arial, sans-serif;
  color: #E3D091;
  font-size: 1.25em;
  margin: 0;
  font-weight: 300;
  cursor: pointer;
  word-wrap: break-word;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}

li.slot-name:hover {
  background-color: rgba(75,75,75,0.5);
}

i.on-slot {
  margin-right: 10px;
}


/*
 * Story-List
 */

div.stories {
  background-color: #5E2F18;
  overflow: hidden;
}

div.story-list-title {
  width: 100%;
  padding: 15px;
  font-family: 'Lato', Arial, sans-serif;
  color: #DABDB0;
  font-size: 1.1em;
  margin-top: 40px;
  font-weight: 300; 
  background: rgba(0,0,0,0.05);
  word-wrap: break-word;  
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}

div.story-list-title i {
  vertical-align: baseline;
}

input.story-filter {
  outline: none;
  width: 12em;
  font-family: 'Lato', Arial, sans-serif;
  color: #DABDB0;
  font-size: 1.5em;
  font-weight: 300; 
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

input.story-filter::-webkit-input-placeholder {
  color: #DABDB0;  
}

input.story-filter::-moz-placeholder {
  color: #DABDB0;  
}

ul.story-list {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}

li.story-info {
  width: 100%;
  display: block;
  float: left;
  border-top: 1px solid #6D5245;
  padding: 15px;
  font-family: 'Lato', Arial, sans-serif;
  color: #DABDB0;
  font-size: 1.0em;
  margin: 0;
  font-weight: 300;
  cursor: pointer;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
}

li.story-info > span.title {
  font-size: 1.25em;
}

li.story-info:hover {
  background-color: rgba(75,75,75,0.25);
}

li.story-info > .delete-action {
  float: right;
  visibility: hidden;
}

li.story-info:hover > .delete-action {
  visibility: visible; 
}

li.story-info p {
  padding: 0;
  width: 100%;
  word-wrap:break-word;
}

li.story-info p.single-story {
  font-size: 1.0em;
  width: 100%;
  padding: 0px;
  margin: 0;
  word-wrap:break-word;
}



/*
 * share
 */

#share-modal {
  width: 50em;
  max-width: 50em !important;
}

#share-modal > div.md-content > div {
  padding-left: 20px;
  padding-right: 20px;
}


table.shares {
  width: 100%;
  padding: 0;
  margin: 0;
}

table.shares tr {
  cursor: pointer;
}

table.shares td.icon {
  width: 2%;
  padding-right: 0.3em;
}

table.shares td.login {
  width: 25%;
}

table.shares td.name {
  width: 45%;
}

table.shares td.rights {
  width: 25%;
}

table.shares td.unshare {
  text-align: right;
  width: 5%;
}

td.unshare > i {
  cursor: pointer;
  margin-right: 10px;
}


table.shares tr:nth-child(odd) {
  background-color: rgba(75,75,75,0.5);  
}

div.share-list {
  overflow: hidden;
  max-height: 10em;
}

div.share-list .mCSB_scrollTools .mCSB_draggerContainer{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0; 
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  height:auto;
}

#share-modal input.share-login {
  font-size: 1em;
}

#share-modal div.typeahead {
  width: 16em;
  margin-left: 1em;
  margin-right: 1em;  
}

#share-modal div.typeahead > div.suggestions {
  width: 16em;
}

#share-modal div.everybody {
  font-size: 1em;
  min-width: 16em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
}

#share-modal div.selectbox {
  width: 9em;
  margin-right: 1em;
}

#share-modal div.select-mode {
  width: 6em;
}

#share-modal div.confirmation {
  margin-left: 3em;
}
